<div class="register row justify-content-md-center">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-4">Register</h5>
        <form
          #tamplateDrivenForm="ngForm"
          (onsubmit)="registerAction(tamplateDrivenForm)"
          (ngSubmit)="registerAction(tamplateDrivenForm)"
        >
          <div class="mb-3">
            <label for="name" class="form-label"> User name </label>
            <input
              type="text"
              class="form-control"
              id="userName"
              name="userName"
              #userName="ngModel"
              ngModel
              required
              [ngClass]="{
                'is-invalid': userName.touched && userName.invalid
              }"
            />
            @if(userName.touched && userName.invalid) {
            <div class="alert alert-danger">User name field is required</div>
            }

            <div class="mb-3">
              <label for="email" class="form-label"> Email address </label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                #email="ngModel"
                required
                ngModel
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                [ngClass]="{
                    'is-invalid': email.touched && email.invalid
                }"
            />
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                Email feild is required
            </div>
            <div *ngIf="email.touched && email.invalid && email.errors?.['pattern']" class="alert alert-danger">
              Please enter a valid email address.
          </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"> Password </label>
            <input
              type="password"
              class="form-control"
              name="password"
              #password="ngModel"
              ngModel
              [ngClass]="{
                'is-invalid': password.touched && password.invalid
              }"
              required
              minlength="8"
              pattern="^(?=.*[A-Za-z])(?=.*\d).+$"
            />
            @if(password.touched && password.errors?.['required']) {
              <div class="alert alert-danger">password field is required</div>
            }
            @if(password.errors?.['minlength']) {
              <div class="alert alert-danger">
                Password must be at least 8 characters long.
              </div>
            }
            @if(password.invalid && password.touched) {
            <div  class="alert alert-danger">
              Password must contain letters and numbers.
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="confirm-password" class="form-label"
              >Confirm Password
            </label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              #confirmPassword="ngModel"
              required
              ngModel
              [ngClass]="{
                'is-invalid': confirmPassword.touched && confirmPassword.invalid
              }"
            />
            @if (confirmPassword.value != password.value && confirmPassword.touched) {
              <div class="alert alert-danger text-center">
                Confirm Password doesn't match, try again!
              </div>
            }
            @if(confirmPassword.touched && confirmPassword.invalid) {
            <div class="alert alert-danger text-center">
              confirmPassword field is required
            </div>
            }
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="tamplateDrivenForm.invalid">
              Register Now
            </button>
            <p className="text-center">
              Have already an account <a routerLink="/login">Login here</a>
            </p>
          </div>
          <!-- {{password.errors?.['pattern']|json}}
          {{password.invalid|json}} -->
        </form>
      </div>
    </div>
  </div>
</div>
