<!-- هذا الكومبونينت للأدمن -->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body text-center bg-secondary-theme">
          <h3 class="text-theme-center">Products</h3>
          <p class="text-center mb-5">You can manage the products from here.</p>
          <button class="btn bg-theme hover" routerLink="/admin/products/new-product">Add new product</button>
          <button class="btn btn-warning m-2" routerLink="/admin">Back to dashboard</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- show all products in below-->

