<div class="container">
  <div class="row mt-3">
    <div class="col-md-4 mb-5">
      <a routerLink="/admin/categories">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary">
              <i class="fas fa-clipboard-list  fa-1x"></i>
            </h1>
            <h1 class="text-theme-primary">Categories</h1>
            <p>Manage The Categories Details Here</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-5">
      <a routerLink="/admin/products/all-products">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary"><i class="fa-solid fa-list  fa-1x"></i></h1>
            <h1 class="text-theme-primary">Products</h1>
            <p>Manage The Products Details Here</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-5">
      <a routerLink="/admin/new-commercial-store">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary"><i class="fas fa-store-alt  fa-1x"></i></h1>
            <h1 class="text-theme-primary">Commercial Stores</h1>
            <p>Manage The Commercial Stores Details Here</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row mt-3">

    <div class="col-md-4 mb-5">
      <a routerLink="">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary">
              <i class="fas fa-users  fa-1x"></i>
              </h1>
            <h1 class="text-theme-primary">Users</h1>
            <p>Manage The Users Details Here</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-5">
      <a routerLink="">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary"><i class="fas fa-shopping-cart  fa-1x"></i></h1>
            <h1 class="text-theme-primary">Carts</h1>
            <p>Manage Thd Carts Details Here</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-5">
      <a routerLink="">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary"><i class="fas fa-receipt  fa-1x"></i></h1>
            <h1 class="text-theme-primary">Orders</h1>
            <p>Manage Thd Orders Details Here</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4 mb-5">
      <a routerLink="">
        <div class="card shadow-effect">
          <div class="card-body text-center bg-secondary-theme">
            <h1 class="text-theme-primary"><i class="fa fa-user-group fa-1x"></i>

            </h1>
            <h1 class="text-theme-primary">Employees</h1>
            <p>Manage Thd Employees Details Here</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
