.container{
  margin-top: 100px;
}
.card
{
  height: 200px;
  cursor: pointer;
  /* background:#E4F5EB; */
  border: none;
  box-sizing: border-box;
transition: transform 0.3s ease;

}


.shadow-effect{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}
.card .card-body  i,
h1
{
  color:#016364;
}
.container a {
  text-decoration: none;
}

.card:hover {
  transform: translateY(-5px); /* حركة بسيطة للأعلى عند التحويل */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* توهج أكبر */
  background-color: #f0f0f0;

}
