<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h2>
          {{ 'footer.About Us' | translate }}
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies mattis turpis.</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h2>
          {{ 'footer.Contact us' | translate }}

        </h2>
        <ul class="list-unstyled">
          <p>{{ 'footer.Address' | translate }}</p>

          <li>
            <a href="">
              Email: Lorem ipsum dolor sit.
            </a>
            </li>
          <li>Phone: +1234567890</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <h2>
          {{ 'footer.Follow us' | translate }}
           </h2>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook fa-1x"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-instagram fa-1x"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <hr class="light">
        <p>&copy; 2024 Al-Hamra Mall. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
